@font-face {
  font-family: 'Inter var';
  src: url('../fonts/Inter.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Regular.woff2') format('woff2');
}
